.gift-item__buy-button{
  float: left;
  width: 99px;
  height: 27px;
  background: url("../../img/gift/buy.png");
  background-size: 99px 27px;
}
.gift-item__description{
  float: left;
  margin-top: 37px;
  width: calc(~"100% - 150px");
}