<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cassiozen.wedding" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>WeddingApp</name>
    <description>
        Wedding App.
    </description>
    <author email="cassiozen@gmail.com" href="http://cordova.io">
        Cássio Zen
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
</widget>
